* {
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif ;
  color: $darkBlue;
  overflow-x: hidden;
}

::selection {
  background-color: $brightCyan;
  color: $white;
}

// buttons
.btn-request {
  width: max-content;
  margin: auto;
  padding: 13px 35px;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
}

.text-center-sm {
  @media #{$maxMedium} {
    text-align: center !important;
  }
}
.text-center-xs {
  @media #{$maxSmall} {
    text-align: center !important;
  }
}